@page "/about"
@using Radzen;

<div>
    Developer List Linkedin
</div>
<div>
    @if (_developers is null)
    {
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    }
    else
    {

        @foreach (var dev in _developers)
        {
            <a href="@dev.Url">@dev.Text</a>
        }
    }

</div>
