@page "/about"
@using Radzen;

<div>
    Developer List Linkedin
</div>
<div>
    @if (_developers is null)
    {
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    }
    else
    {

        @foreach (var dev in _developers)
        {
            <a href="@dev.Url">@dev.Text</a>
        }
    }

</div>
<div>
    <p>apoyar el proyecto </p>
    <p>hace tu donación: </p>
    <p>addr1q9x9y3pufptxpgndqhvuxxupls4587glmfaa336qfy8l6vtgnyf8eftccn4gzzygj5z24ujpgpf48ujvq7ynr65mr4fs2aa95g</p>
</div>