@page "/contact"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Contacto</h2>
        <br />
        <a href="mailto:lisandro.iraguen@protonmail.com">lisandro.iraguen@protonmail.com</a>
      
    </div>
</div>