@page "/defi"
@using Radzen;

<h3>DeFi</h3>


<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
    <RadzenButton Click=@(args => goToBiswap()) Text="Biswap" ButtonStyle="ButtonStyle.Primary" />
    <RadzenButton Click=@(args => goToMiniSwap()) Text="MiniSwap" ButtonStyle="ButtonStyle.Primary" />    
</RadzenStack>