@page "/home"

@using Radzen;

<RadzenStack Gap="1">
    @if (walletState is null)
    {
        <RadzenAlert AlertStyle="AlertStyle.Danger" AllowClose="false" Variant="Variant.Flat" Shade="Shade.Lighter">
            no hay wallet selecionada, hay que conectarse
        </RadzenAlert>
        @if (@isConecting)
        {
            <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        }
    }
    <RadzenIcon Icon="account_balance"></RadzenIcon>
    <br />

    @if (walletState is not null)
    {

       @*  <p>@walletMessage</p>
        <p>Balance Simbolo: @symbol </p>
        <p>Balance Ada: @balanceAda.ToString() </p>
        <p>Balance Simbolo: @symbolArs </p>
        <p>Balance Pesos: @balanceArs.ToString() </p>
        <p>Network: @networkType </p> *@


        
         <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Wallet Adress</RadzenText>
            <RadzenTextBox Change=@(args => OnChangeWalletAdress(args, "WalletAdress")) @bind-Value=@walletToSTransfer  class="w-100" aria-label="Default TextBox" />
            @* <p> @symbolArs </p> *@
            <RadzenNumeric @bind-Value=@valueToTransfer InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
            <p> total Fee:</p>
            <RadzenButton Click=@(args => singTransaction()) Text="Transferir" ButtonStyle="ButtonStyle.Primary" />
        </RadzenCard> 

    }

</RadzenStack>




