<div>
    Copyright (c) @currentYear - Lisandro Iraguen
</div>
<div>
    <a href="https://github.com/lisandro-iraguen/bank-the-unbanked/tree/main">Link to Bank the Unbanked GitHub Repository</a>
</div>

@code
{
    int currentYear = DateTime.Now.Year;
}