@using Radzen;
@using Data.Wallet;
@inherits Fluxor.Blazor.Web.Components.FluxorLayout;



<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>

        <ChildContent>
            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0px">
                <RadzenColumn Size="5">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenSidebarToggle Click="@(() => ToggleSideBar())" />
                        <RadzenLabel Text="banco" />
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="7">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                        <div Class="rz-display-sm-inline-flex align-items-center">                            
                            <RadzenButton class="rz-m-2" Text="ES" Icon="language" Variant="Variant.Outlined" ></RadzenButton>
                        </div>


                        @if (walletConectedState.Value.IsConnecting)
                        {
                            <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                        }
                        else
                        {
                            if (walletState.Value.Wallet == null)
                            {
                                <RadzenButton class="rz-m-2" Text="Conectar" Icon="account_balance_wallet" Click=@OpenWalletConnectors></RadzenButton>
                            }
                            else
                            {
                                <RadzenButton class="rz-m-2" Text="@walletState.Value.Wallet.Name" Icon="account_balance_wallet" Click=@OpenWalletDisconector></RadzenButton>
                            }
                        }
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </ChildContent>

  

    </RadzenHeader>
    <RadzenSidebar @bind-Expanded=@sidebarExpanded @bind-Visible=@SidebarVisible>
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <Copyright />
    </RadzenFooter>
</RadzenLayout>


