@using Radzen;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent


<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">

    <h2> @webText.SigningAndSendingTransaction</h2>

    
    
        
</RadzenStack>
<RadzenStack Gap="0px" Class="rz-m-12">
    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
</RadzenStack>