@using Radzen;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent


<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">

   <h2> @webText.SigningAndSendingTransaction</h2>
   

</RadzenStack>
